{% extends "base.html" %}
<title>Reset Password</title>
{% block content %}
<div class="form-box">
  
  <form method="post" class="login-container" id="login">
    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>
    {% csrf_token %}
    <div class="input-box">
        <input type="text" class="input-field" name="email" placeholder="email">
        <i class="bx bx-user"></i>
    </div>
    <div class="input-box">
      <input type="submit" class="submit" value="Send e-mail">
    </div>
  </form>
</div>
{% endblock %}
