{% extends "base.html" %}
<title>Reset</title>
{% block content %}
<div class="form-box">
 
  {% if validlink %}
    
    <form method="post" class="login-container" id="login">
        <h1>Reset your password</h1>
        <p>Please enter your new password twice:</p>
      {% csrf_token %}
      <div class="input-box">
        <input type="password" class="input-field" name="new_password1" placeholder="new password">
        <i class="bx bx-user"></i>
      </div>
      <div class="input-box">
        <input type="password" class="input-field" name="new_password2" placeholder="confirm password">
        <i class="bx bx-user"></i>
      </div>
      <div class="input-box">
        <input type="submit" class="submit" value="Change my password">
      </div>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}
</div>
{% endblock %}
