{% extends "base.html" %}

<title></title>

{% block content %}
<div class="form-box">
  <form method="post" class="login-container" id="login">
    <h1>Change your password</h1>
    <p>Use the form below to change your password.</p>
    <div class="input-box">
      <input type="password" class="input-field" name="old_password" placeholder="Current Password">
      <i class="bx bx-lock-alt"></i>
    </div>
    <div class="input-box">
      <input type="password" class="input-field" name="new_password1" placeholder="New Password">
      <i class="bx bx-lock-alt"></i>
    </div>
    <div class="input-box">
      <input type="password" class="input-field" name="new_password2" placeholder="Confirm New Password">
      <i class="bx bx-lock-alt"></i>
    </div>
    <div class="input-box">
      <input type="submit" class="submit" value="Change">
    </div>
    {% csrf_token %}
  </form>
</div>
{% endblock %}
