{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block title %}<title>EcoBook | Login & Registration</title>{% endblock title %}
    
</head>
<body>
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>SocioBOOK .</p>
        </div>
        <div class="nav-menu" id="navMenu">
            {% if request.user.is_authenticated %}
            <ul>
                <li {% if section == "dashboard" %} class="link active" {% endif %}><a href="{% url 'dashboard' %}" >My Dashboard</a></li>
                <li {% if section == "images" %} class="link active" {% endif %}><a href="#">Images</a></li>
                <li {% if section == "people" %} class="link active" {% endif %}><a href="#">People</a></li>
                
            </ul>
            {% endif %}
        </div>
        <div class="nav-button">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name|default:request.user.username }},
            <button class="btn white-btn" id="loginBtn"><a style="text-decoration: none; color: white;" href="{% url 'logout' %}" >Logout</a></button>
            {% else %}
            <button  class="btn white-btn" id="loginBtn"> <a  href="{% url 'login' %}">Login</a></button>
            {% endif %}
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>



        {% block content %}
        {% endblock %}
   
    <script>
   
        function myMenuFunction() {
         var i = document.getElementById("navMenu");
         if(i.className === "nav-menu") {
             i.className += " responsive";
         } else {
             i.className = "nav-menu";
         }
        }
      
     </script>
     {% comment %} <script>
         var a = document.getElementById("loginBtn");
         var b = document.getElementById("registerBtn");
         var x = document.getElementById("login");
         var y = document.getElementById("register");
         function login() {
             x.style.left = "4px";
             y.style.right = "-520px";
             a.className += " white-btn";
             b.className = "btn";
             x.style.opacity = 1;
             y.style.opacity = 0;
         }
         function register() {
             x.style.left = "-510px";
             y.style.right = "5px";
             a.className = "btn";
             b.className += " white-btn";
             x.style.opacity = 0;
             y.style.opacity = 1;
         }
     </script> {% endcomment %}
     </body>
     </html>