{% extends "base.html" %}

{% block content %}
    <!----------------------------- Form box ----------------------------------->    
    <div class="form-box">
        
        <!------------------- login form -------------------------->
        <form method="POST" class="login-container">
            {% csrf_token %}
            <div class="top">
                <span>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></span>
                <header>Login</header>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" name="username" placeholder="Username">
                <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" name="password" placeholder="Password">
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-box">
                <input type="submit" class="submit" value="Sign In">
            </div>
            <div class="two-col">
                <div class="one">
                    <input type="checkbox" id="login-check">
                    <label for="login-check"> Remember Me</label>
                </div>
                <div class="two">
                    <label><a href="{% url 'password_reset' %}">Forgot password?</a></label>
                </div>
            </div>
        </form>
        
    </div>
</div>   
{% endblock %}